/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/


#jeopardy {
  text-align: center;
  background-color:#060ce9 ;
  color: white;
  border-collapse: collapse;
}

#jeopardy th, #jeopardy td {
  border: solid 1px white;
  width: 12em;
  padding: 1em;

}

th {
  text-transform:capitalize;
  font-weight: bold;
  height: 4em;
  text-shadow: darkgoldenrod 1px 1px;

}

td {
  height: 9em;
  
}

td:hover {
  cursor: pointer;
}